.sec3{
    padding: 150px 0 0;
}
.sec3 h2{
    text-transform: uppercase;
    max-width: 60%;
}
.sec3-slider{
    margin-top: 50px;
}
.sec4{
    padding: 100px 0;
}
.sec4 h2{
    text-transform: uppercase;
}
.sec4-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
}
.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    min-height: 270px;
    border: 1px #fff;
    margin-bottom: 40px;
    overflow: hidden;
}
.box h6{
    font-family: space Grotesk;
    font-size: 25px;
    font-weight: 400;
}
.sec4-boxes.img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all ease 1s;
}
.box:hover{
    opacity: 1;
}
footer{
    position: relative;
    padding: 50px 0;
}
.footer-inner{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.footer-inner .col{
    padding-right: 50px;
}
footer ul{
    margin-left: 0;
}
footer ul li{
    list-style: none;
    margin-bottom: 30px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
footer::before{
    content: '';
    position: absolute;
    top: 8px;
    left: -50px;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top,transparent,#fff);
}
